.colab{
    text-align: center;
    position: relative;
    top: 300px;
    font-size: 10px
}

.colab a{
    text-decoration: none;
    color: #ffffffda;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.colab a:hover{
    color: #ffffff48;
    transform: scale(1.05);
}