@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Goldman:wght@400;700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(imagem/Escadão.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.login{
    width: 90%;
    max-width: 320px;
    height: auto;
    min-height: 320px;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.863);
    color: #fff;
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 68px 28px;
    border-radius: 15px;
}

.login h1{
    position: relative;
    bottom: 40px;
  
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.login label{
    position: relative;
    bottom: 10px;
    font-weight: bold;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.login input[type="text"], .login input[type="password"]{
    border: none;
    border-radius: 6px;
    color: #fff;
    background: #1d1d1d;
    padding-left: 15px;
    outline: none;
    height: 40px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login input[type="text"]:hover, .login input[type="password"]:hover{
    background-color: #000000c2;
    transform: scale(1.05);
}

.login .center{
    display: flex;
    justify-content: center;
}

.login button[type="submit"]{
    margin-top: 20px;
    color: #fff;
    background-color: #1d1d1d;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login button[type="submit"]:hover{
    background-color: #000000bb;
    transform: scale(1.05);
}

form{
    position: relative;
    top: 10px;
}


@media (max-width: 768px) {
    .login {
        padding: 40px 20px;
        max-width: 90%;
        min-height: 280px;
    }
    
    .login h1 {
        font-size: 20px;
    }

    .login input[type="text"], .login input[type="password"] {
        font-size: 14px;
        height: 35px;
    }

    .login button[type="submit"] {
        padding: 8px 30px;
    }
}

@media (max-width: 480px) {
    .login {
        padding: 30px 15px;
        max-width: 85%;
        min-height: 250px;
    }
    
    .login h1 {
        font-size: 18px;
        letter-spacing: 5px;
    }

    .login input[type="text"], .login input[type="password"] {
        font-size: 14px;
        height: 35px;
    }

    .login button[type="submit"] {
        padding: 8px 25px;
    }
}
