* {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
}

html{
    width: 100%;
    height: 100%;
}

body {
    background-image: url(imagem/CG-2ds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


.container_main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 13% auto;
    grid-template-rows: 100%;
}

.align_title_table{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% auto;
}

.container{
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    text-align: center;
}

.centralizar {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.table-container {
    overflow-y: auto;  /* Adiciona a rolagem vertical */
    height: 500px;     /* Define a altura da div com rolagem */
}

.table-container::-webkit-scrollbar {
    width: 7px;
    height: 8px;
    background-color: #000;
  }

table {
    border-collapse: collapse;
    color: #ffffff;
    width: 100%;  /* Garante que a tabela use toda a largura da div */
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 2px solid #ffffff;
    background-color: #38bdf8;
}

th {
    background-color: #0484bb;
}

.side_bar{
    background-color: rgba(197, 255, 250, 0.938);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.side_bar .menu{
    width: 100%;
}

.side_bar .menu .item a{
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    display: block;
    padding: 7px;
    transition: 1s;
}

.side_bar .menu .item a:hover{
    background-color: blue;
    transition: 0.3s;
}

.side_bar .menu .item i{
    margin-right: 5px;
}

.side_bar .menu .item a .dropdown{
    right: 0;
    transition: 0.3s;
    transition: 1s;
}

.side_bar .menu .item .sub_menu{
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
}

.side_bar .menu .item .sub_menu a{
    padding-left: 30px;
    display: none;
    transition: 1s;
}

.side_bar .menu .item:hover .sub_menu a{
    display: block;
}