* {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: none;
}

body {
    overflow: hidden;
    background-image: url(imagem/CG-2ds.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.end {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
}

.end .container {
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.753);
    height: 50px;
    width: 100vw;
}

.container nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container nav h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.centralizar {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.box {
    position: fixed;
    display: flex;
    border: solid #1d1d1d;
    backdrop-filter: blur(5px);
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    width: 850px;
    height: 350px;
}

.table-container {
    overflow-y: auto;
    height: 60vh;
}

table {
    border-collapse: collapse;
    color: #ffffff;
    width: 100%;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 2px solid #000000;
    background-color: #00ffd5c4;
}

th {
    background-color: #2f0ad6;
}

.side_bar{
    background-color: rgba(197, 255, 250, 0.938);
    width: 13%;
    height: 100%;
    position: fixed;
}

.side_bar .menu{
    margin-top: 185px;
    width: 100%;
}

.side_bar .menu .item a{
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    display: block;
    padding: 7px;
    transition: 1s;
}

.side_bar .menu .item a:hover{
    background-color: blue;
    transition: 0.3s;
}

.side_bar .menu .item i{
    margin-right: 5px;
}

.side_bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    transition: 0.3s;
    transition: 1s;
}

.side_bar .menu .item .sub_menu{
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
}

.side_bar .menu .item .sub_menu a{
    padding-left: 30px;
    display: none;
    transition: 1s;
}

.side_bar .menu .item:hover .sub_menu a{
    display: block;
}