* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Config BackGround */
    background-image: url(imagem/biblioteca-CG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(250, 235, 215, 0.644);
}

