<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <span>EE Carlos Gomes</span>
            </div>

            <ul>
                <a href="pagina-main">
                    <span id="icon" class="bi bi-box-arrow-left"></span>
                </a>
            </ul>
        </nav>
    </div>
    <div class="centralizar">
            <ul class="livro">
                <h1>livros</h1>
                <li class="lista"><a class="bi bi-pencil-fill" href="lend_book">Emprestar livro</a></li>
                <li class="lista"> <a href="return_book">Devolver livro</a></li>
            </ul>
            <ul>
                <h1>historico</h1>
                <li class="lista"><a class="bi bi-pencil-fill" href="read_table_historico">ver historico</a></li>
            </ul>
            <ul>
                <h1>Adicionar</h1>
                <li class="lista"><a class="bi bi-pencil-fill" href="read_table_usuario">Adicionar usuario</a></li>
                <li class="lista"> <a href="read_table_adm">Adicionar Adm</a></li>
            </ul>
            <ul>
                <h1>cadartar</h1>
                <li class="lista"><a class="bi bi-pencil-fill" href="read_table_livro">cadartar livro</a></li>
                <li class="lista"> <a href="read_table_aluno">cadartar aluno</a></li>
            </ul>
    </div>
</body>
</html> 