<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="end">
        <div class="container">
            <nav>
                <h1>Histórico</h1>
            </nav>
        </div>
    </div>
    <!--<div class="centralizar">
        <div class="box">
            <div class="table-container">
                {{ table|safe }}
                </div>
                </div> -->
            </div>
            <div class="menu_lateral">
                <div class="low_bar_login">
                    <div class="button_login">
                        <ul class="close_page_main">
                            <a href="pagina-main">
                                <span id="icon" class="bi bi-box-arrow-left"></span>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="links">    
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="bi bi-caret-down-fill">
                                Responsável 
                            </a>
                            <ul class="sub_menu_resp">
                                <li><a href="#">Administrador</a></li>
                                <li><a href="#">Usuário</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="bi bi-caret-down-fill">
                                Aluno 
                            </a>
                            <ul class="sub_menu_resp">
                                <li><a href="#" class="bi bi-plus-square">adicionar</a></li>
                                <li><a href="#" class="bi bi-table">Tabela</a></li>
                                <li><a href="#" class="bi bi-pencil-square">Alterar</a></li>
                                <li><a href="#" class="bi bi-trash">Deletar</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="bi bi-caret-down-fill">
                                Livro 
                            </a>
                            <ul class="sub_menu_resp">
                                <li><a href="#" class="bi bi-plus-square">adicionar</a></li>
                                <li><a href="#" class="bi bi-table">Tabela</a></li>
                                <li><a href="#" class="bi bi-pencil-square">Alterar</a></li>
                                <li><a href="#" class="bi bi-trash">Deletar</a></li>
                                <li><a class="bi bi-book" href="lend_book">Emprestar</a></li>
                                <li><a class="bi bi-book" href="return_book">Devolver</a></li>
                            </ul>
                        </li>
                    </ul>
            </div>
    </div>
</body>
</html>