<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="end">
        <div class="container">
            <nav>
                <h1>Histórico</h1>
            </nav>
        </div>
    </div>
    <!--<div class="centralizar">
        <div class="box">
            <div class="table-container">
                {{ table|safe }}
            </div>
        </div> -->
    </div>
    <div class="menu_lateral">
        <div class="links">
            <ul>
                <li><a class="bi bi-book" href="lend_book">Emprestar livro</a></li>
                <li><a class="bi bi-book" href="return_book">Devolver livro</a></li>
            </ul>
            <ul>
                <li><a class="bi bi-person-add" href="read_table_adm">Cadastrar Adm</a></li>
                <li><a class="bi bi-person-add" href="read_table_usuario">Cadastrar usuario</a></li>
                <li><a class="bi bi-person-add" href="read_table_aluno">Cadastrar aluno</a></li>
            </ul>
            <ul>
                <li><a class="bi bi-book" href="read_table_livro">Adicionar livro</a></li>
            </ul>
            <ul>
                <a href="pagina-main">
                    <span id="icon" class="bi bi-box-arrow-left"></span>
                </a>
            </ul>
        </div>
    </div>
</body>
</html> 
