<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/git_hub.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
        </style>
        <title>JP_BR_collabrators</title>
    </head>
    <body>
        <div class="containers">
            <div class="card">
                <div class="imag">
                </div>
                <div class="content">
                    <div class="description">
                        <span class="title_desc">
                            Bruno Henrique Ribeiro de Oliveria
                            <br>
                            Learning during the project: 
                        </span>
                        <p class="txt_desc">
                            <br>
                            Description of learning                    
                        </p>
                        <div class="row">
                            <a href="https://github.com/BrunoOliveira0719" target="_blank" rel="external">
                                <img src="/static/imagem/github.png" alt="icon">
                            </a>
                            <span>Git hub
                            </span>
                        </div>
                        <div class="row">
                            <a href="https://www.linkedin.com/in/bruno-henrique-ribeiro-de-oliveira-040a362b7/" target="_blank" rel="external">
                                <img src="/static/imagem/icon_linkedin_blue.png" alt="icon">
                            </a>
                            <span>Linkedin
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img">
                </div>
                <div class="content">
                    <div class="description">
                        <span class="title_desc">
                            João Pedro Almeida Menino
                            <br>
                            Learning during the project: 
                        </span>
                        <p class="txt_desc">
                            <br>
                            Description of learning                    
                        </p>
                        <div class="row">
                            <a href="https://github.com/joaop0303menino" target="_blank" rel="external">
                                <img src="/static/imagem/github.png" alt="icon">
                            </a>
                            <span>Git hub
                            </span>
                        </div>
                        <div class="row">
                            <a href="https://www.linkedin.com/in/joão-pedro-almeida-menino-7332422b6/" target="_blank" rel="external">
                                <img src="/static/imagem/icon_linkedin_blue.png" alt="icon">
                            </a>
                            <span>Linkedin
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>