<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="/static/user.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="btn-menu">
    <a href="#"><i class="bi bi-list"></i></a>
  </div>

  
  <div class="container">
    <!-- titulo -->
    <div class="box">
      <h1>CADASTRAR ADM</h1>
      <form method="POST" action="/create_adm" autocomplete="off">
        <!-- nome do usuario -->
        <div class="box-register">
          <label for="name">Nome</label>
          <input type="text" name="text" placeholder="digite seu nome...">
        </div>
        <!-- username -->
        <div class="box-register">
          <label for="user">Usuário</label>
          <input type="text" name="name" placeholder="digite seu username...">
        </div>
        <!-- digitar senha -->
        <div class="box-register">
          <label for="password">Senha</label>
          <input type="password" name="password" placeholder="digite sua senha...">
        </div>
        <!-- confimar senha -->
        <div class="box-register">
          <label for="password">Confirme sua senha</label>
          <input type="password" placeholder="confirme sua senha...">
        </div>
        <!-- Botão para criar conta -->
        <button type="submit" class="btn" >Criar</button>
      </form>
    </div>
  </div>
</body>
</html>
