<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="btn-menu">
        <ul>
            {%if session.dynamic == "adm" %}
                <li><a href="admin-dashboard">Menu</a></li>
            {%elif session.dynamic == "user" %}
                <li><a href="user-dashboard">Menu</a></li>
            {%endif %}
            <li></li>
        </ul>
</div>
    <div class="container">
        <div class="box">
            <h1>Tabela</h1>

            <form method="POST" action="/create_usuario" autocomplete="off">
                <div class="box-register">
                    <label for="nome">Nome</label>
                    <input placeholder="digite seu nome..." type="text" id="nome" name="nome" required>
                </div>

                <div class="box-register">
                    <label for="sobrenome">Sobrenome</label>
                    <input placeholder="digite seu sobrenome..." type="text" id="sobrenome" name="sobrenome" required>
                </div>

                <div class="box-register">
                    <label for="password">Senha</label>
                    <input placeholder="digite sua senha..." type="Password" id="password" name="password" required>
                </div>

                <button type="submit" class="btn">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>
