<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <span>Administrador</span>
            </div>

            <ul>
                <li><a href="admin-dashboard">Menu</a></li>
            </ul>
        </nav>
    </div>

    <div class="centralizar">
        <div class="box">
            <p>Deletar um ADM</p>
            <form method="POST" action="/delete_adm" autocomplete="off">
                <label for="text">Qual o ID do ADM que deseja deletar:</label>
                <input type="text" id="text" name="text" required>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>
