<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}">
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <span>EE Carlos Gomes</span>
            </div>

            <ul>
                {%if session.dynamic == "adm" %}
                    <li><a href="admin-dashboard">Menu</a></li>
                {%elif session.dynamic == "user" %}
                    <li><a href="user-dashboard">Menu</a></li>
                {%endif %}
            </ul>
        </nav>
    </div>
</body>
</html>