<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login da biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <link rel="stylesheet" href="static/git_hub_button.css">
    <script>
        // Função para exibir alertas, caso estejam definidos
        function showAlert(message) {
            if (message) {
                alert(message);
            }
        }
    </script>
</head>
<body onload="showAlert('{{ alert }}')">
    <div class="login">
        <div class="colab">
            <a href="{{ url_for('collaborators') }}">
                @Collaborators
            </a>
        </div>
        <h1>Entre</h1>
        <form method="POST" action="{{ url_for('login') }}" autocomplete="off">
            <label for="text">Login:</label>
            <input type="text" id="text" name="text" placeholder="Digite seu usuário..." required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite Sua senha..." required>
            <div class="center">
                <button class="entrar" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</body>
</html>
