<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login da biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <link rel="stylesheet" href="static/git_hub_button.css">
</head>
<body>
    <div class="div_git_hub">
        <a href="{{ url_for('collaborators') }}">
            <img src="static/imagem/github.png" alt="Descrição da Imagem" class="button_git_hub">
        </a>
    </div>
    <div class="login">
        <h1>login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="text">Login:</label>
            <input type="text" id="text" name="text" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <div class="center">
                <button class="entrar" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</body>
</html>
