<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <span>EE Carlos Gomes</span>
            </div>

            <ul>
                {%if session.dynamic == "adm" %}
                    <li><a href="admin-dashboard">Menu</a></li>
                {%elif session.dynamic == "user" %}
                    <li><a href="user-dashboard">Menu</a></li>
                {%endif %}
            </ul>
        </nav>
    </div>
    <div class="menu_lateral">
        <ul>
            <li class="lista">
                <a href="read_table_livro">
                    <span id="icon" class="bi bi-table">  Tabela</span>
                </a>
            </li>
            <li class="lista">
                <a href="create_livro">
                    <span id="icon" class="bi bi-person-plus-fill">  Adicionar</span>
                </a>
            </li>
            <li class="lista">
                <a href="update_livro">
                    <span id="icon" class="bi bi-arrow-clockwise">  Atualizar</span>
                </a>    
            </li>
            <li class="lista">
                <a href="delete_livro">
                    <span id="icon" class="bi bi-trash">  Deletar</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="centralizar">
        <div class="box">
            <p>Tabela</p>
            {{ table|safe }}
        </div>
    </div>
</body>
</html>