<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="btn-menu"></div> <!-- Excluir essa linha após a resolução do conflito -->
    <!-- Arrumar bt de menu. Está dando conflito com o dynamic read
    <div class="btn-menu">
        <ul>
            {%if session.dynamic == "adm" %}
                <li><a href="admin-dashboard">Menu</a></li>
            {%elif session.dynamic == "user" %}
                <li><a href="user-dashboard">Menu</a></li>
            {%endif %}
            <li></li>
        </ul>
</div>  -->
    <div class="cont">
        <div class="box">
            <h1>Tabela</h1>
            <div class="table-container">
                {{ table|safe }}
            </div>
        </div>
    </div>
</body>
</html>