<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}">
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <span>EE Carlos Gomes</span>
            </div>

            <ul>
                <li><a href="user-dashboard">Menu</a></li>
                <li><a href="">Aluno</a></li>
                <li><a href="">Livro</a></li>
                <li><a href="">Histórico</a></li>
            </ul>
        </nav>
    </div>
    <div class="text">
        <h1>biblioteca CG</h1>
        <h3>Bem vindo</h3>
        <p>Este sistema foi feito para os administradores e responsáveis da biblioteca</p>
        <p>Aqui você pode cadastrar livros, usuários e permitir que alunos peguem livros com mais segurança</p>
    </div>
</body>
</html>