<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>biblioteca CG</title>
        <link rel="stylesheet" href="/static/menu.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    </head>
    <body>
        <div class="container_main">
      <div class="side_bar">
          <div class="menu">
      
              <div class="item">
                  <a class="sub_btn">
                      <i class="bi bi-person-circle"></i> Aluno 
                      <i class="bi bi-caret-down-fill dropdown"></i>
                  </a>
                  <div class="sub_menu">
                      <a href="create_aluno" class="sub_item"><i class="bi bi-plus-lg"></i>adicionar</a>
                      <a href="read_table_aluno" class="sub_item"><i class="bi bi-table"></i>Tabela</a>
                      <a href="update_aluno" class="sub_item"><i class="bi bi-pencil-square"></i>Alterar</a>
                      <a href="delete_aluno" class="sub_item"><i class="bi bi-trash"></i>Deletar</a>
                  </div>
              </div>
              <div class="item">
                  <a class="sub_btn"><i class="bi bi-book"></i>Livro <i class="bi bi-caret-down-fill dropdown"></i></a>
                  <div class="sub_menu">
                      <a href="create_livro" class="sub_item"><i class="bi bi-plus-lg"></i>adicionar</a>
                      <a href="read_table_livro" class="sub_item"><i class="bi bi-table"></i>Tabela</a>
                      <a href="update_livro" class="sub_item"><i class="bi bi-pencil-square"></i>Alterar</a>
                      <a href="delete_livro" class="sub_item"><i class="bi bi-trash"></i>Deletar</a>
                  </div>
              </div>
              <div class="item"><a href="lend_book"><i class="bi bi-book"></i>Emprestar livro</a></div>
              <div class="item"><a href="return_book"><i class="bi bi-book"></i>Devolver livro</a></div>
          </div>
      </div>
  <div class="align_title_table">
    <div class="container">
        <h1>Histórico</h1>
    </div>
    <div class="centralizar">
      <div class="box">
        <div class="table-container">
          {{ table|safe }}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>