<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <span>Devolver livro</span>
            </div>

            <ul>
                {%if session.dynamic == "adm" %}
                    <li><a href="admin-dashboard">Menu</a></li>
                {%elif session.dynamic == "user" %}
                    <li><a href="user-dashboard">Menu</a></li>
                {%endif %}
            </ul>
        </nav>
    </div>
    <div class="centralizar">
        <div class="box">
            <p>Para devolver digite as seguintes informações:</p>
            <form method="POST" action="/return_book">
                <label for="alteracao">Nome do livro</label>
                <input type="text" id="alteracao" name="alteracao" required>
                <label for="id">Id do histórico onde está o livro pendente</label>
                <input type="text" id="id" name="id" required>
                <label for="obs">Id do histórico onde está o livro pendente</label>
                <input type="text" id="obs" name="observacao" required>
                <button type="submit">Devolver</button>
            </form>
        </div>
    </div>
</body>
</html>
