<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca CG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="btn-menu">
        <ul>
            {%if session.dynamic == "adm" %}
                <li><a href="admin-dashboard">Menu</a></li>
            {%elif session.dynamic == "user" %}
                <li><a href="user-dashboard">Menu</a></li>
            {%endif %}
            <li></li>
        </ul>
</div>
    <div class="container">
        <div class="box">
            <h1>Para atualizar digite as seguintes informações:</h1>
            <form method="POST" action="/update_aluno" autocomplete="off">
                <label for="opcao">O que deseja alterar:</label>
                <input placeholder="digite..." type="text" id="opcao" name="opcao" required>
                <label for="alteracao">Alteração</label>
                <input placeholder="digite..." type="text" id="alteracao" name="alteracao" required>
                <label for="ra">Qual o ra do aluno que deseja atualizar</label>
                <input placeholder="digite..." type="text" id="ra" name="ra" required>
                <button type="submit" class="btn">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>
